<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header #navbar {
  flex-direction: column;

  position: relative;

  padding-bottom: 5px;

  box-shadow: rgba(187, 181, 181, 0.2) 0px 2px 2px 0px;
  background-color: white;
}

header #nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;

  background-color: white;
}

header #nav-top .logo-pesquisa {
  display: flex;
  align-items: center;

  background: white;
}

.logo-pesquisa img {
  background: white;
}

.logo-pesquisa a {
  background: white;
}

.logo-pesquisa .nav-brand {
  text-decoration: none;
  color: #207ca8;

  padding-left: 2rem;

  background-color: white;
}

.vertical-line {
  border-left: 1px solid #cccccc;
  height: 50px;

  margin-left: 2rem;
}

.vertical-line-dois {
  border-left: 1px solid #cccccc;
  height: 50px;
}

.nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2rem;

  background-color: white;
}

.nav-list a {
  text-decoration: none;
  color: #207ca8;

  background-color: white;
}

#nav-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.nav-right h2 {
  background: white;
}

.nav-right h4 {
  background: white;
}

.nav-list li {
  background: white;
}

/* BOTÃO DE PESQUISA */

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;

  background: #d9d9d9;
  width: 385px;
  height: 56px;
  border-radius: 20px;

  transition: 0.5s;
}

.search-text {
  border: none;
  background: #d9d9d9;
  outline: none;
  border-radius: 20px;

  height: 56px;
  width: 385px;
  font-size: 12px;
  font-style: italic;
}

.search-btn {
  height: 56px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #d9d9d9;
}

.search-btn img {
  width: 20px;
  height: 20px;
}

.search-box:hover {
  width: 500px;
}

/* NOTICIAS DA PAGINA */

main {
  margin: 0 auto;
  width: 80%;
  flex: 1;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  width: calc(16% - 20px); /* 4 imagens por linha */
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.05);
}


/* RODAPE */

footer{
  margin-top: auto;
}

.rodape-classe-2{
  width: 100%;
  height: 110px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #16678E;
  color: white;

  box-shadow: -webkit-box-shadow 0px -2px 24px 1px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px -2px 24px 1px rgba(0,0,0,0.34);
  box-shadow: 0px -2px 24px 1px rgba(0,0,0,0.34);
}

.left, .right {
  flex: 1px;
  width: 100px;
  height: 110px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 80%;
  height: 110px;

  display: flex;
  justify-content: center;
  flex-direction: column

}

.middle h3{
  width: 300px;

  display: flex;
  justify-content: center;

}
.middle img{
  width: 20px;
  height: 20px;

  transition: all 0.3s ease;
}

.middle img:hover{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.logo-redessociais{
  width: 300px;
  padding-top: 8px;
  display: flex;
  justify-content: center;

  gap: 10px;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header #navbar {
  flex-direction: column;

  position: relative;

  padding-bottom: 5px;

  box-shadow: rgba(187, 181, 181, 0.2) 0px 2px 2px 0px;
  background-color: white;
}

header #nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;

  background-color: white;
}

header #nav-top .logo-pesquisa {
  display: flex;
  align-items: center;

  background: white;
}

.logo-pesquisa img {
  background: white;
}

.logo-pesquisa a {
  background: white;
}

.logo-pesquisa .nav-brand {
  text-decoration: none;
  color: #207ca8;

  padding-left: 2rem;

  background-color: white;
}

.vertical-line {
  border-left: 1px solid #cccccc;
  height: 50px;

  margin-left: 2rem;
}

.vertical-line-dois {
  border-left: 1px solid #cccccc;
  height: 50px;
}

.nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 2rem;

  background-color: white;
}

.nav-list a {
  text-decoration: none;
  color: #207ca8;

  background-color: white;
}

#nav-buttom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.nav-right h2 {
  background: white;
}

.nav-right h4 {
  background: white;
}

.nav-list li {
  background: white;
}

/* BOTÃO DE PESQUISA */

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;

  background: #d9d9d9;
  width: 385px;
  height: 56px;
  border-radius: 20px;

  transition: 0.5s;
}

.search-text {
  border: none;
  background: #d9d9d9;
  outline: none;
  border-radius: 20px;

  height: 56px;
  width: 385px;
  font-size: 12px;
  font-style: italic;
}

.search-btn {
  height: 56px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #d9d9d9;
}

.search-btn img {
  width: 20px;
  height: 20px;
}

.search-box:hover {
  width: 500px;
}

/* NOTICIAS DA PAGINA */

main {
  margin: 0 auto;
  width: 80%;
  flex: 1;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container {
  width: calc(16% - 20px); /* 4 imagens por linha */
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.05);
}


/* RODAPE */

footer{
  margin-top: auto;
}

.rodape-classe-2{
  width: 100%;
  height: 110px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #16678E;
  color: white;

  box-shadow: -webkit-box-shadow 0px -2px 24px 1px rgba(0,0,0,0.34);
  -moz-box-shadow: 0px -2px 24px 1px rgba(0,0,0,0.34);
  box-shadow: 0px -2px 24px 1px rgba(0,0,0,0.34);
}

.left, .right {
  flex: 1px;
  width: 100px;
  height: 110px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  width: 80%;
  height: 110px;

  display: flex;
  justify-content: center;
  flex-direction: column

}

.middle h3{
  width: 300px;

  display: flex;
  justify-content: center;

}
.middle img{
  width: 20px;
  height: 20px;

  transition: all 0.3s ease;
}

.middle img:hover{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c7c7c7;
}

.logo-redessociais{
  width: 300px;
  padding-top: 8px;
  display: flex;
  justify-content: center;

  gap: 10px;
>>>>>>> 8b2bcb1891a14ea629320f1bc04f9438dedd163f
}